[2016-09-01 08:50] johanstokking opened #1 "Adapt to production MQTT protocol"
See https://github.com/TheThingsNetwork/ttn/tree/refactor/mqtt

[2016-09-01 13:36] FokkeZB commented on #1
@johanstokking, @htdvisser may I have your input on these changes for node-ttn to work with production?

Changes in the message formats:
- [x] [downlink](https://github.com/TheThingsNetwork/ttn/tree/refactor/mqtt#downlink-messages)
  - `payload` > `payload_raw`
  - no more `ttl`
- [x] [uplink](https://github.com/TheThingsNetwork/ttn/tree/refactor/mqtt#uplink-messages)
  - `fields` > `payload_field

[2016-09-01 14:01] FokkeZB opened #2 "Accept uplink message as first argument for downlink method"
This way the user could do:

[code]

If `downlink()` sees the first argument is an object it would then use `msg.dev_eui` (and `msg.port`?) to do the downlink.

See https://github.com/TheThingsNetwork/node-app-lib/issues/2#issuecomment-247863572 for reasoning against:

An alternative implementation is for `msg` to have a downlink method that binds to the client with the `dev_eui` (and `port`?) alr

[2016-09-01 14:06] FokkeZB opened #3 "Downlink: Accept arguments for Buffer.from as alternative for Buffer"
This would allow the user to instead of :

[code]

do:

[code]

[2016-09-01 14:08] johanstokking commented on #3
Yep, good idea!

[2016-09-02 10:02] htdvisser commented on #1
The URLs for the Load Balancers of our datacenters are currently as follows:
- `eu.thethings.network`
- `us-west.thethings.network`
- `brazil.thethings.network`
- `se-asia.thethings.network`

We might want to create additional CNAMES for mqtt/router/broker/handler, but maybe the plain URLs are more clear?

[2016-09-02 10:35] FokkeZB commented on #1
Thanks @htdvisser, I'd suggest that the Client constructor will accept:
- `'eu.thethings.network', 'app id', 'app key'`
- `'eu', 'app id', 'app key'`: when the first arg doesn't contain a `.` it will add `.thethings.network`
- `'app id', 'app key'`: when the first arg is skipped it defaults to `eu.thethings.network`

We just need to be sure that the we never introduce something like `us.west` but

[2016-09-02 10:47] htdvisser commented on #1
I think defaulting to `eu` (last bullet) is a bad idea. Applications can only be registered with one handler, and therefore messages will only arrive on one MQTT broker. Users should explicitly pass the region.

[2016-09-02 12:23] FokkeZB commented on #1
Clear, thx!

[2016-09-03 00:10] hallard opened #5 "Device Add"
Guys,
Sorry if my question is stupid, but do you think it's possible to have the dev Addr that TTN Dashboard shows returned in message also ? I'm sending data to Emoncms after receive and I would link to unique identify devices with Addr instead of EUID ?

![image](https://cloud.githubusercontent.com/assets/2471931/18221271/4a0ea532-717b-11e6-8110-d649442c01ba.png)

[2016-09-03 18:16] FokkeZB commented on #5
@hallard stupid questions don't exist. The Dev Addr will be included in the next version of dashboard and the nodejs client: https://github.com/TheThingsNetwork/ttn/tree/refactor/mqtt#device-activations

[2016-09-03 18:16] #5 closed, assigned to nobody

[2016-09-03 18:44] hallard commented on #5
Excellent, thanks ;)

[2016-09-04 19:04] FokkeZB commented on #3
As long as we also have the optional TTL and port I'm afraid this will only be confusing. Will add a label for consideration later.

[2016-09-06 07:20] johanstokking commented on #3
We're dropping `ttl`, and `port` will have a more prominent place. I'd propose a signature like `downlink(devId, port, ...buffer)`

[2016-09-06 07:23] FokkeZB commented on #3
@johanstokking, ok - but that does mean port is always required

[2016-09-06 07:25] johanstokking commented on #3
The port is always required, but I think that in _most_ cases, users will use port 1. I don't know what's most convenient here, but it should be very convenient to specify the port.

[2016-09-06 07:27] FokkeZB commented on #3
Would the port be something you'd lock in to for all downlinks or likely to diff per downlink? if it's not, then we could add a `setDownlinkPort()`.

[2016-09-06 07:29] johanstokking commented on #3
Yeah it can differ; it really says something about the downlink.

[2016-09-06 07:43] FokkeZB commented on #3
OK, then indeed it would be:

[code]

Although since port is a number and none of the buffer constructors start with number we could even support:

[code]

And would it make sense to also have:

[code]

Which would use the devEUI and port form the message?

Of course too many signatures is confusing as well, but just trying to see how we can simplify it.

[2016-09-06 17:00] FokkeZB commented on #3
I've given it another thought and I think it's better not to do this after all. To achieve consistency across SDKs for different platforms we should not mix a platform specific API for constructing buffers. Instead, the documentation for each platform SDK should explain how to create buffers on that platform. If we add support for protocol buffers later it will be a better alternative for this.

[2016-09-06 17:00] #3 closed, assigned to nobody

[2016-09-06 17:02] FokkeZB commented on #2
Some additional thoughts:
1. If we add support for this it should be under a new method name (`reply(msg, buffer)`) so that the `send/downlink()` method stays simple.
2. We should first build SDKs for more platforms with the basic API before we add convenience methods like this.

[2016-09-06 17:06] FokkeZB commented on #1
As part of the refactor I've simplified the API

https://github.com/TheThingsNetwork/node-ttn/blob/refactor/src/example.js
- `Client(broker, appEUI, accessKey)` > `Client(region, appId, accessKey)`
- `uplink` -> `message`
- `downlink()` -> `send()`

For discussion on standardising on a simple API for SDKs:

https://docs.google.com/document/d/1nk6_Tty1WZ3RCl0hOVspLq6h87ZrQQiL2OjFguNdK7s/edit?usp=sh

[2016-09-07 07:21] #1 closed, assigned to FokkeZB

[2016-09-16 06:22] FokkeZB commented on #2
Closing. This would make it look too much like a response, which it is not.

[2016-09-16 06:23] FokkeZB opened #7 "Add support for TLS"
See https://www.npmjs.com/package/mqtt#mqttclientstreambuilder-options

[2016-09-16 06:24] FokkeZB opened #8 "Don't subscribe to activations/messages until listener is attached"
Override `super().on()` and if event name is `message|activation` subscribe to the related topic.

[2016-09-16 06:26] FokkeZB opened #9 "Add support to subscribe to a specific topic"
For example: `/+/devices/+/up/temperature`.

The challenge is that if the topic comes in the `+` are the actual app/device IDs so unless we duplicate MQTT's wildcard matching it's hard to map it to an event with the same name. Probably best to have a single event much like MQTT's [message](https://www.npmjs.com/package/mqtt#event-message) which includes the topic.

[2016-09-16 06:30] FokkeZB opened #10 "Add CLI"
Building on https://github.com/TheThingsNetwork/node-app-lib/blob/master/bin/monitor, but then properly using Commander.

Downlink example:

[code]

Uplink example:

[code]

Topic could also be a full topic and can be used multiple times.

There should also be an `-o json` option to get the response outputted in json

[2016-09-16 06:31] FokkeZB opened #11 "Add support to get confirmation of downlink message"
See https://www.npmjs.com/package/mqtt#mqttclientpublishtopic-message-options-callback

[2016-09-16 10:10] FokkeZB opened #12 "Accept any Buffer constructor argument as payload"
[Before we check](https://github.com/TheThingsNetwork/node-app-lib/blob/master/src/client.js#L28) if payload is an instance of `Buffer`, we should check if it's an array and in that case do `payload = new Buffer(payload)`.

[2016-09-16 18:06] johanstokking commented on #10
What is the problem that we solve as compared to ttnctl?

This is another thing to maintain and seems confusing.

[2016-09-18 14:50] johanstokking commented on #2
We can do a response in fact. I guess there are many use cases in which you want to respond within the receive window.

[2016-09-18 15:00] FokkeZB commented on #2
For it to be a response is merely a matter of timing right? Implementing this API wouldn't guarantee it to be delivered as response

[2016-09-18 15:07] johanstokking commented on #2
True. But it would be nice to make it easily accessible in the SDKs.

Also, we're extending RX1 from 1 second to 5 seconds to be able to make the roundtrip possible.

[2016-09-18 17:11] FokkeZB commented on #9
Possible API:

[code]

What might be confusing is that - unless we handle field/deviceID mapping internally - if you'd use these APIs multiple times each callback would be called for any field/message topic.

[2016-09-18 18:12] FokkeZB commented on #2
OK, but then I'd suggest to support `client.send(msg, payload)` to make it less prone to be confused for a _guaranteed_ response then `msg.respond(payload)`.

[2016-09-18 18:23] FokkeZB commented on #10
Nothing really. I actually added https://github.com/TheThingsNetwork/node-app-lib/blob/master/bin/monitor at some point to quickly test but I agree it's better to stick with one CLI.

[2016-09-18 18:23] #10 closed, assigned to nobody

[2016-09-18 18:23] FokkeZB opened #13 "Remove `./bin`"
See https://github.com/TheThingsNetwork/node-app-lib/issues/10#issuecomment-247668195

[2016-09-18 18:35] FokkeZB commented on #9
As per @johanstokking's suggestion on Slack we'll keep it simple and allow the user to optionally filter on a single or array of devices and to filter on a specific field.

[2016-09-19 07:52] romeovs commented on #12
There are a lot of different things that are coercible to `Buffer` for instance:

[code]

will also work.

I think we should just assume the input is a `Buffer` or coercible to `Buffer` and always wrap it in a `new Buffer` call. This will throw an error if it's not coercible to `Buffer` but makes sure we have all cases.

On a side node `new Buffer(new Buffer(x))` will result in the same buffer as

[2016-09-19 09:06] FokkeZB commented on #12
@romeovs mmm, actually... this has a challenge to it. When a users passes `{ type: "buffer", data: [1, 2, 3] }` how do I tell if he wants to send this as `payload_fields` or wrapped in buffer for `payload_raw`?

[2016-09-19 09:11] romeovs commented on #12
We could have a special case for `{ "type": "Buffer" }` objects? But this needs to be documented, because it might introduce hard-to-track down bugs for end-user code. It would also be impossible to send a `payload_fields` with `{ "type": "Buffer" }` in it.

[2016-09-19 10:12] johanstokking commented on #12
I think this is a very acceptable side effect when using the Node.js SDK.

[2016-09-19 10:51] johanstokking commented on #9
Yep, I'd say one method:

[code]

If `[devices]` is set, and either a string or an array, subscribe to that device or devices. Otherwise, subscribe to `+`. If `[field]` is set, subscribe to that field, otherwise subscribe to `up`.

Note that, when subscribing to a field, the `fields` parameter in the callback becomes a bit useless. When subscribing to the field `temperature`, we might want to have

[2016-09-19 11:28] FokkeZB opened #14 "Convert payload_raw to actual Buffer"
See https://github.com/TheThingsNetwork/ttn/issues/252#issuecomment-247960333

[2016-09-19 11:42] FokkeZB commented on #12
Mmm, I don't like it. Type is a pretty typical key and why would you pass `{ type: "buffer", data: [1, 2, 3] }` as payload if you could just pass `[1, 2, 3]`?

I actually don't see a lot [documented](https://nodejs.org/api/buffer.html#buffer_new_buffer_array) that would make sense to coerce.

I'd suggest:
- To wrap arrays, strings and Buffer objects (for the reason @romeovs gave) in `new Buffer()`

[2016-09-19 19:06] johanstokking commented on #12
Exactly. So `type: "Buffer"` is handled as Buffer, not as object passed to the encoder. Right?

[2016-09-20 12:58] FokkeZB commented on #11
@johanstokking is there a way we can get confirmation the downlink published is received by TTN?

[2016-09-20 13:26] johanstokking commented on #11
We have two different stages of feedback in the making:
- Feedback events, see https://github.com/TheThingsNetwork/ttn/issues/159
- End-to-end confirmation, see https://github.com/TheThingsNetwork/ttn/issues/158

[2016-09-20 13:27] #12 closed, assigned to FokkeZB

[2016-09-21 11:44] #9 closed, assigned to FokkeZB

[2016-09-21 11:44] #8 closed, assigned to FokkeZB

[2016-09-21 13:32] FokkeZB opened #24 "Move example to examples folder"
After #21

Check if https://runkit.com/npm/ttn can pick it up from the folder since it's npm ignored. If not, then leave it in src.

[2016-09-22 18:39] FokkeZB opened #26 "Implement new app and device events"
As described at: https://github.com/TheThingsNetwork/ttn/tree/refactor/mqtt#device-events

[2016-09-23 08:11] FokkeZB commented on #2
Closing as `dev_id` is no longer in payload.

See: https://github.com/TheThingsNetwork/node-app-lib/pull/25#discussion_r80195257

[2016-09-23 08:11] #2 closed, assigned to FokkeZB

[2016-09-23 10:10] #13 closed, assigned to FokkeZB

[2016-09-23 10:22] FokkeZB commented on #7
Closed by #20

[2016-09-23 10:22] #7 closed, assigned to FokkeZB

[2016-09-23 10:22] #14 closed, assigned to FokkeZB

[2016-09-23 12:09] FokkeZB commented on #26
I suggest to get rid of the `activation` event and create a new API:

[code]

It seems like `eventName` could be `up/errors` but also just `ack` or `activations` so I don't think we should split them up into another arg.

What do you think @johanstokking and @htdvisser?

[2016-09-23 12:21] johanstokking commented on #26
It can be anything indeed, also a tree to make the event more specific. I would just pass the event type, which can be `down/ack` as parameter to the callback.

[2016-09-23 12:27] FokkeZB commented on #26
So you suggest we:
- drop `eventName` as third argument for `on()`
- subscribe to all app or device events
- add `eventName` as second arguments for the callback?

That could give you lot of events

[2016-09-27 10:52] johanstokking opened #30 "Make payload_raw always available as Buffer"
See https://github.com/TheThingsNetwork/node-app-lib/commit/5f296387a93f4543122dd4f8079074c8fa7a6a87

[2016-09-28 06:58] FokkeZB commented on #30
It already is. That's what https://github.com/TheThingsNetwork/node-app-lib/pull/15/files#diff-cf27c1d543e886c89cd9ac8b8aeaf05bR79 does

[2016-09-28 07:13] #30 closed, assigned to FokkeZB

[2016-09-28 08:06] FokkeZB commented on #26
Done: https://github.com/TheThingsNetwork/node-app-lib/pull/31

[2016-09-28 08:17] FokkeZB opened #32 "Add travis job"
Should run `npm test`, which should be the default with:

[code]

[2016-09-28 08:18] htdvisser commented on #32
Added https://travis-ci.org/TheThingsNetwork/node-app-lib

[2016-09-28 08:47] #32 closed, assigned to nobody

[2016-09-28 13:03] #26 closed, assigned to nobody

[2016-09-30 07:33] FokkeZB commented on #11
Closed by #31

[2016-09-30 07:33] #11 closed, assigned to johanstokking

[2016-09-30 07:33] FokkeZB commented on #24
Nope

[2016-09-30 07:33] #24 closed, assigned to nobody

[2016-09-30 12:01] FokkeZB opened #35 "Remove activation event"
No longer needed now it supports device events: https://github.com/TheThingsNetwork/node-app-lib/pull/31/files#diff-88333ba11114e014e87198d04680144dR133

[2016-10-11 20:11] tjeerdytsma opened #37 "Update send to downlink in API.md"
The documentation in API.md still lists send. It seems it is replaced by the downlink method.

[2016-10-12 07:36] htdvisser opened #38 "Rename refactor -> v2-preview"

[2016-10-12 08:39] htdvisser opened #39 "Subscribe to all device events"
`client.on("device-event", "my-device", fn)` should subscribe to `my-app/devices/my-device/events/#` and call `fn` on every event.

[2016-10-12 12:07] FokkeZB commented on #38
Is dat heel belangrijk? Als preview live is wil ik gewoon mergen naar master

[2016-10-12 12:11] FokkeZB commented on #37
It's actually the other way around. The current version on NPM uses `downlink()`, but the master (get it from NPM via: `npm i node-ttn@refactor`) uses `send()`.

[2016-10-12 12:11] #37 closed, assigned to nobody

[2016-10-13 08:09] tjeerdytsma commented on #37
Thanks for your reply, now I understand. Took some time to dive a little deeper in npm. Just learned about tags (https://docs.npmjs.com/cli/dist-tag) :)

As the package name is 'ttn' and not 'node-ttn' I guess you mean `npm i ttn@refactor`. Correct?

[2016-10-13 08:14] FokkeZB commented on #37
Correct, sorry for the confusion ;)

[2016-11-07 09:06] cambierr opened #42 "several typos in the API doc"
see https://github.com/TheThingsNetwork/docs/pull/82

[2016-11-07 09:50] #42 closed, assigned to nobody

[2016-11-10 08:45] FokkeZB opened #44 "Wrap Manager HTTP API"
We deciced to grow `*-app-lib` into full SDKs that not just wrap the Handler's MQTT broker to communicate with devices but also its [HTTP API](https://github.com/TheThingsNetwork/ttn/blob/v2-preview/api/handler/HTTP-API.md) for managing applications and devices.

We can probably use some generic REST API wrapper.

[2016-11-10 11:28] FokkeZB opened #45 "Rename to SDK"
We decided we'll rename our libraries to SDKs and extend them beyond wrapping MQTT (#44).

* [x] Rename repo from `node-app-lib` to `node-app-sdk`.
* [x] Update docs to talk about _SDK_ rather than _Library_ or _Client_.
* ~[ ] Rename `ttn.Client` to `ttn.handler.MQTT` so that we can add AMQP later as well?~ (later)

[2016-11-30 15:04] johanstokking opened #46 "Inconsistent naming in message"
`devId` vs `payload_raw`

[2016-12-01 18:18] FokkeZB commented on #38
Merged

[2016-12-01 18:18] #38 closed, assigned to nobody

[2016-12-01 18:21] FokkeZB commented on #46
This is something from the staging version right? The master branch and refactor-tag version pass Device ID as separate argument and no longer inject it into the message:

https://github.com/TheThingsNetwork/node-app-lib/blob/master/src/client.js#L81-L82

Reopen if I'm mistaken

[2016-12-02 04:48] johanstokking commented on #46
I mean, there is a `msg.devId` and a `msg.payload_raw`

Or is this issue Node-RED specific?

[2016-12-02 05:53] FokkeZB commented on #46
Yes. Previously also in this SDK but now only Node-Red since it needs all info in one object. Will create issue there.

[2016-12-02 05:53] #46 closed, assigned to FokkeZB

[2016-12-12 14:22] JuanRamino opened #48 "message event"
Hi,

I see using the #message event in tests and documentation but when I try to use it I get no expected results.

Examples:
[code]
No output where ```client.on('uplink', function(msg) { console.log(msg) })```do the job

[code]
I get an error, *listener must be a function*

Thanks

[2016-12-13 08:49] FokkeZB commented on #48
What version of the package are you using? The examples you give are for the refactor (2.x) version (`npm i --save ttn@refactor`) and I suspect that you are using the 1.x version?

We're getting ready to launch the new production environment this week at which point the new versions of the SDKs will become the main ones. That will be less confusing ;)

[2016-12-13 09:04] JuanRamino commented on #48
Hi,

I'm using the 1.x version. I suspect it was a such problem.
I'm glad to know you are going to launch the new production enviroment.

Good work guys. Thanks for all

[2016-12-13 09:04] #48 closed, assigned to nobody

[2016-12-16 15:15] #45 closed, assigned to nobody

[2016-12-16 15:16] FokkeZB opened #51 "Publish via Travis"
https://docs.travis-ci.com/user/deployment/npm/

[2016-12-21 13:15] FokkeZB opened #54 "Wrap Manager gRPC API"
WIP in https://github.com/TheThingsNetwork/node-app-sdk/tree/feature/manager-grpc

- [x] Find out how to handle dependencies (imports) of `handler.proto`
- [ ] Perhaps better to [generate code](https://github.com/grpc/grpc/tree/master/examples/node/static_codegen)?
- [ ] Test
- [ ] Document

/cc @htdvisser

[2016-12-21 14:22] htdvisser commented on #54
Definitely better to generate code.

[2016-12-21 14:27] FokkeZB commented on #54
Don't really like [the way you construct a request](https://github.com/grpc/grpc/blob/master/examples/node/static_codegen/greeter_client.js#L42-L49) with the generated code.

[2016-12-22 15:18] johanstokking commented on #54
You mean the setters for properties? I think it's not that bad, especially because it's protobufs which only know fields. This makes it forward-compatible, not if you need a specific constructor or field order.

[2016-12-22 15:48] FokkeZB commented on #54
What I mean is that you need to use the Request objects where the dynamic version lets you use plain objects.

I'll play with the generated variant

[2016-12-27 15:42] FokkeZB commented on #54
@johanstokking @htdvisser I try to generate them but again, the Q is.. how to get the dependencies?

[code]

I guess the repo needs a Makefile. Should it then clone the ttn repo, pull in dependencies (go vendor?), generate the `.js` files, copy them to this repo and delete the clone?

[2016-12-27 16:00] #39 closed, assigned to nobody

[2017-01-06 06:30] JonasSaegesser opened #56 "EventEmitter not a function"
Hello Everyone

I installed the latest ttn packacke with npm. When I tried to launch your sample app I got the following error:
.../node_modules/ttn/dist/client.js:19
    this.ee = new EventEmitter();
              ^
TypeError: object is not a function

I checked client.js and found the following line:
var EventEmitter = require('events');

I changed it to
var EventEmitter = require('events').Even

[2017-01-11 15:27] johanstokking commented on #56
What is your Node version? `node -v`

A pull request is appreciated!

[2017-01-11 15:28] johanstokking commented on #56
It doesn't seem to be necessary, right? https://nodejs.org/api/events.html

[2017-01-12 07:27] JonasSaegesser commented on #56
I was running an ancient version of node. Sorry about that. Strange that I got that version from the Amazon Linux default package repo.

[2017-01-12 07:27] #56 closed, assigned to nobody

[2017-01-27 07:50] htdvisser opened #58 "Correctly recognize localhost region"

[2017-03-02 18:02] #44 closed, assigned to nobody

[2017-03-06 11:43] joscha commented on #51
I can highly recommend https://github.com/semantic-release/semantic-release here. Easily enabled and will create a travis config with it.

[2017-06-07 17:01] noerw opened #59 "application manager relies on nonexistent HTTPS endpoint"
Currently, the HTTPS endpoint for the application manager API does not exist; to cite the [docs](https://www.thethingsnetwork.org/docs/applications/manager/):

this results in errors when trying to make requests:
[code]

Don't know if this should be fixed, as keys should not be exchanged via HTTP anyway.
Opening the issue anyway for others to see, as it took me some time to find out the cause.

[2017-06-08 10:13] johanstokking commented on #59
Thanks for reporting @noerw. This is definitely something we need to support.

[2017-06-20 10:11] johanstokking opened #60 "Add discovery to look up app's region"

[2017-06-27 10:01] johanstokking commented on #59
We're going to close HTTP at all and switch to gRPC

[2017-06-27 10:01] #59 closed, assigned to romeovs

[2017-06-27 10:19] mirk8xr commented on #59
@johanstokking Where I can find an example(or the docs) of gRPC node client that access to the application manager api? How authentication works?

[2017-06-27 11:04] noerw commented on #59
Is support for gRPC in this `node-app-sdk` planned? when will it land?

[2017-06-27 11:06] johanstokking commented on #59
@mirk8xr @noerw it's not out yet, but @romeovs will work on this. Please watch #54. I'm closing this issue because we're discontinuing HTTP on the Handler

[2017-06-27 11:40] jpmeijers commented on #59
Damn. This means I have to change the TTN Mapper app to use gRPC too. Which is a hassle, because autogenerating java code from protobufs in Android studio doesn't work well.

[2017-08-17 13:15] janjongboom opened #66 "Cannot send confirmed downlinks"
It's in the underlying MQTT protocol, but I cannot set the property from the public API.

[2017-09-10 21:08] noerw opened #68 "grpc.default.credentials.createSsl() type error"
[code]
results in `TypeError: createSsl's first argument must be a Buffer`

When running `Buffer.from(certificate, 'utf8')` in the ApplicationClient constructor I get `Could not get common name of subject from certificate.`

[2017-09-11 14:09] romeovs commented on #54
Done by #64

[2017-09-11 14:09] #54 closed, assigned to romeovs

[2017-09-11 14:10] romeovs commented on #68
Thanks for the report! I'm looking into it.

[2017-09-11 14:28] romeovs commented on #68
@noerw This should be fixed in`2.2.4`, can you confirm?

[2017-09-11 14:31] romeovs commented on #60
Done in #64

[2017-09-11 14:31] #60 closed, assigned to romeovs

[2017-09-11 14:33] romeovs commented on #58
This is no longer possible or necessary after #64.

[2017-09-11 14:33] #58 closed, assigned to nobody

[2017-09-11 14:48] romeovs commented on #66
This is fixed in #70, and released in `2.2.5`. Can you confirm?

Note that the API has changed notably since when you created the issue, so you might need to update your codebase.

[2017-09-11 14:48] romeovs commented on #51
Fixed in 4fa10656e2.

[2017-09-11 14:48] #51 closed, assigned to nobody

[2017-09-11 16:12] noerw commented on #68
indeed, thanks!

[2017-09-11 16:12] #68 closed, assigned to nobody

[2017-09-11 18:13] noerw opened #71 "SSL warning/error on Application Manager requests"
Calling functions on an application results in the following SSL error emitted by node:
`E0911 18:11:13.687662896   11875 ssl_transport_security.c:227] Could not get common name of subject from certificate.`

However, the call is executed correctly.

[code]

[2017-09-12 08:04] janjongboom commented on #66
OK, coolio.

[2017-09-12 08:04] #66 closed, assigned to romeovs

[2017-09-12 08:30] romeovs commented on #71
This is due to the way we build the self-signed handler certificates on the public community network.
The warning is harmless so you can ignore it.

In the meantime we will make sure to add the common name to new certificates. We'll put them live ASAP.

cc @htdvisser

[2017-09-13 12:43] Dennishacq opened #72 "Cannot find module grpc_node.node"
I get the following error when i try to use require('ttn')

I'm trying to build an application using Electron. My index.js:
[code]

[2017-10-17 12:31] romeovs commented on #35
Let's keep it in as (an alias) for backwards compatability.

[2017-10-17 12:31] #35 closed, assigned to nobody

[2017-10-17 12:31] romeovs commented on #72
Does this only happen from within electron? Can you reproduce if you build a simple project on your machine (without electron)?

[2017-10-17 16:08] Dennishacq commented on #72
This happens both with Electron and Node-Webkit. It does work when I use Socket.IO but I would like to create an application in HTML/NodeJs that doesn't require a webbrowser for the user interface

[2017-10-17 20:47] romeovs commented on #72
Ok. To be clear, this sdk only works on Node.js, not the browser (which seems to be what you are after).

It's not been tested on custom runtimes like Electron, but it should work.

Can you try running the example scripts on your machine, I'm trying to make sure it is not a Windows issue first.

[2017-10-18 06:33] Dennishacq commented on #72
The examples do work so i don't think it's a windows issue.

My goal is to create a windows app that i can write in html/nodejs.
Is there a program that makes this possible and has been tested?

[2017-10-25 15:31] johanstokking commented on #72
Please have a look at [Electron](https://electron.atom.io). It's not tested with this module, but it's worth a try.

[2017-10-25 15:31] #72 closed, assigned to romeovs

[2017-10-26 09:59] Dennishacq commented on #72
After a new round of debugging i found a solution to the fix error.
I needed to run electron-rebuild (which wasn't working because there was an issue with my version of visual studio)

[2017-11-06 09:53] noerw opened #73 "get EUIs for an application"
When adding new devices an app EUI is required. This value currently cannot be retrieved with this SDK.
I would enhance either `application.get()` with an additional call to the account server, or add a new function `application.euis()`.

[code]

I can send a PR if the feature is desired. I guess the account server domain should be configurable?

[2017-11-07 13:59] johanstokking commented on #73
@noerw good suggestion!

I would add it indeed as separate call, to keep calls to the Handler separate from the Account Server.

And indeed, it should be configurable, but I'm quite sure it is already?

[2017-12-05 09:51] romeovs opened #77 "Travis tests fail."

[2017-12-06 10:15] #77 closed, assigned to romeovs

[2017-12-10 16:47] braadworst opened #79 "can I generate a proper devAddr with the API?"
I am working with the API to register a device, `application.registerDevice` just like in the examples. But I am stuck with the devAddr. According to the docs: https://www.thethingsnetwork.org/wiki/LoRaWAN/Address-Space there is a format to follow.

Now I need a devAddr for Indonesia and ABP. I am not sure how todo that, I would expect that I could generate that from the API.

How do I go about do

[2017-12-10 19:16] braadworst opened #80 "Gateway methods"
How does one add a gateway via the node-app-sdk, cannot find any examples/docs for this.

[2017-12-11 12:20] noerw commented on #80
The [account client](https://github.com/TheThingsNetwork/node-app-sdk/blob/master/src/account/account.js) currently only implements functions for application management.
Functions for gateway management could be added there quite easily, following the API defined [here](https://www.thethingsnetwork.org/docs/network/account/api.html).

[2017-12-22 13:16] johanstokking commented on #79
Yes, your assumptions are correct. The Broker/NS issues a DevAddr, and we have an API for this available to support ABP.

Looping in @romeovs to see if this API is exposed or how to expose it. https://github.com/TheThingsNetwork/api/blob/master/protocol/lorawan/DevAddrManager.md

[2017-12-22 13:24] romeovs commented on #79
The API is currently not exposed trough the `node-app-sdk` but it should be quite trivial to add it.

[2017-12-22 13:33] johanstokking commented on #79
@braadworst @noerw any chance you can make a PR?

[2017-12-22 13:37] braadworst commented on #79
Not right now. Need to do some preparing for field testing in january. It
is not my highest prio either. Just want to have the right address for ttn.
But it seems to work now too.

On 22 Dec 2017 21:33, "Johan Stokking" <notifications@github.com> wrote:

[2018-01-08 13:13] romeovs commented on #73
[It most definitely is!](https://github.com/TheThingsNetwork/node-app-sdk/blob/master/DOCUMENTATION.md#accountclient)

[2018-01-08 13:14] romeovs commented on #73
Closing because it is already implemented.

[2018-01-08 13:14] #73 closed, assigned to nobody

[2018-01-11 18:19] romeovs commented on #79
Fixed by #82

[2018-01-11 18:19] #79 closed, assigned to romeovs

[2018-03-28 09:04] htdvisser commented on #71
@noerw I don't see this warning anymore, please reopen if it's still there when you try.

[2018-03-28 09:04] #71 closed, assigned to htdvisser

[2018-04-04 12:03] jirkadev opened #83 "possibility to choose for abp or otaa device activation (when registering device)"
Hi, is it possible to register device with `abp` activation mehtod (otaa is set by default)?

I am looking at `application.registerDevice()` method but it seems to be that choosing activation method is not supported

I don't see it defined `DeviceUpdates` type which `registerDevice()` method is using https://github.com/TheThingsNetwork/node-app-sdk/blob/327c3ea997fdbe7f04e832676ae84fb6d83c6d3c/src

[2018-04-06 16:02] johanstokking commented on #83
Devices are registered as "OTAA" by default, as in, they don't have a session associated. You can personalize a device to create a new session, i.e. use that session for ABP. It seems that this personalize call is not exposed by the Node.js SDK...

[2018-05-04 14:15] Sypheos opened #84 "Cannot connect to private network"
This a bug report when trying to connect to a private network. The same connection parameters are working with the go-app-sdk.

I tried the following, with and without the certificate hardcoded.
[code]
And get this:
[code]
Though it connect to the PCN without any problem

[2018-05-11 12:19] mariusvw opened #85 "DeprecationWarning on Buffer()"
After upgrading to NodeJS 10.1 when receiving a message I get the following warning.

Currently it does not break anything yet.

[code]

[2018-05-13 15:32] wachunei commented on #85
Probably related to this https://github.com/yarnpkg/yarn/issues/5477

[2018-05-14 21:07] piechade opened #86 "ttn on raspbian"
If I try to install ttn on raspbian stretch with the following command:
npm install ttn

node version
node: v8.11.1
npm: 5.6.0

I get the following error:

[code]

[2018-05-15 08:11] Sypheos commented on #84
It looks like it comes from the grpc library, something to do with ALPN. There is an alpha/beta js only library that support http2 but it currently not working with node 10.0.0, waiting on 10.1.0.

Traces obtained with GRPC_VERBOSITY=DEBUG & GRPC_TRACE=all.

First trace with example code, without manually adding the certificate:
[code]

Second trace is obtained when manually adding the certificate

[2018-05-15 09:51] Sypheos commented on #86
Seems to be related to grpc compilation. Did you tried updated the compiler ? This could also be related to the architecture of the device you installed raspian on.

[2018-05-15 12:44] piechade commented on #86
This seems to fixed it.
[code]

Was not working. What you mean with update compiler?

[2018-05-24 02:50] wachunei commented on #85
Yarn 1.7.0 solves this. https://github.com/yarnpkg/yarn/issues/5477#issuecomment-391504801

[2018-05-24 20:51] #86 closed, assigned to nobody

[2018-05-30 16:08] Sypheos commented on #84
This doesn't concern the SDK directly but he configuration of the server/proxy that need to support http2 or have the correctly ALPN property

[2018-05-30 16:08] #84 closed, assigned to Sypheos

[2018-06-18 20:24] piechade opened #87 "ttn with TypeScript"
Could not find a declaration file for module 'ttn'. 'c:/Users/Dennis/Documents/Development/Projects/sensor-data/sensor-data-processing/server/node_modules/ttn/dist/index.js' implicitly has an 'any' type.
  Try `npm install @types/ttn` if it exists or add a new declaration (.d.ts) file containing `declare module 'ttn';`

[2018-06-18 21:21] noerw commented on #87
For a past project I wrote a [TypeScript definition](https://github.com/52North/ttn-ogcswe-integration/blob/master/types/ttn.d.ts) (didn't check back in a while if it still works) in case you want this, but don't want to [generate a definition from the flow annotations](https://github.com/bcherny/flow-to-typescript)

[2018-06-19 06:53] johanstokking commented on #87
We'll be adding TypeScript support in V3 SDK.

[2018-06-27 11:41] Sincap80 opened #89 "Reset Frame Counter"
Hi,

is it possible to reset the Frame counter?
The Frame counter is increasing with every message. Can I reset it with a function or something?

Thanks!

[2018-06-29 05:41] johanstokking commented on #89
No you can't, and in fact this would not be a good idea to do.

You can reset the frame counters manually in The Things Network Console. Take care though, as this allows for replay attacks.

[2018-06-29 05:41] #89 closed, assigned to nobody

[2018-07-06 02:27] parkmeta opened #90 "Cannot find 'ttn.open()' function"
Hi. I want to use ttn.open() to get handlerClient object as shown in the API docs.
But, I cannot find the function.

[code]

Then i read source code and found that the function isn't exported on below code.

[https://github.com/TheThingsNetwork/node-app-sdk/blob/master/src/index.js](https://github.com/TheThingsNetwork/node-app-sdk/blob/master/src/index.js)

I hope that you would explain why the fu

[2018-07-06 19:32] noerw commented on #90
You do not need the `open()` function, just call `ttn.data()` or `ttn.application()` to get clients for the respective API.
If you still wanted to open a `HandlerClient` for some reason, you can `import { HandlerClient } from 'ttn/handler'` and create an instance directly. Not sure why that would be needed though.

I agree that the docs need some love..
- focus on entry points not internals
- mean

[2018-07-09 01:13] parkmeta commented on #90
Thank you a lot for your answer.
If I can afford it, I'd like to contribute.

[2018-07-09 01:13] #90 closed, assigned to nobody

[2018-07-13 17:01] paultanner opened #92 "install node.js sdk with npm on centos 6"
I originally did this install many months ago and want to reinstall the latest version.
Is there a better way to install? this is what I get:
[code]

[2018-07-17 11:36] paultanner commented on #92
This is not what it appears to be.
The problem is caused by trying to use old versions of git, npm and node.
As the code uses import, it seems that babel is also required.
Still trying to get the server up to the latest versions of these.
It would be useful to mention this in the readme and also link to the necessary update procedure.

[2018-07-17 13:51] paultanner commented on #92
ok. got a babel installation with advice from here
`https://www.codementor.io/iykyvic/writing-your-nodejs-apps-using-es6-6dh0edw2o`
now trying to get a fresh copy of the ttn library

` npm install ttn`
`+ ttn@2.3.1`
`updated 1 package and audited 2686 packages in 9.384s
found 2 moderate severity vulnerabilities
run `npm audit fix` to fix them, or `npm audit` for details
up to date in 3.9s
fixed 0

[2018-07-17 14:03] noerw commented on #92
These issues do not seem related to the `ttn` package.
You are using an ancient version of node and NPM, I guess your issues are related to that. [There are current packages available](https://nodejs.org/en/download/package-manager/#enterprise-linux-and-fedora).

Your last comments seems to indicate that ttn was installed successfully:

[2018-07-17 14:51] paultanner commented on #92
Sadly I don't know how I fixed it as I got interrupted.
Certainly I ran npm audit fix multiple times.

The I hit this
`Error: 7 PERMISSION_DENIED: permission denied: No "settings" rights to Application `
but this only applies when I use `application(appID, accessKey)` which I don't need at the moment.
Looking at this
`https://www.thethingsnetwork.org/docs/network/account/authentication.html`
I see

[2018-07-19 15:01] johanstokking commented on #92
Does the access key have the `settings` right, as the error message indicates?

[2018-07-20 06:45] paultanner commented on #92
Presumably not.  I checked the settings tabs for device and application and can see nothing relating to "permissions".  Can you point me to the relevant setting that may be causing the issue pls?

BTW. As mentioned before, I can access the device OK but not the application.  This implies that I have correctly pasted the accessKey from the TTN console.

[2018-07-20 07:49] johanstokking commented on #92
Right, please check that the key you use has the `settings` right too, not just `devices`. You can manage keys under Settings.

<img width="582" alt="screen shot 2018-07-20 at 09 50 20" src="https://user-images.githubusercontent.com/13334001/42990200-5926f6b6-8c02-11e8-890f-b35554a086bf.png">

[2018-07-20 07:50] #92 closed, assigned to nobody

[2018-07-20 08:55] paultanner commented on #92
I do not get a screen like that. Here's mine.
<img width="1138" alt="screen shot 2018-07-20 at 09 53 57" src="https://user-images.githubusercontent.com/464591/42993311-f81e1452-8c02-11e8-9a4b-410ca19a7df1.png">

[2018-07-20 10:57] johanstokking commented on #92
Click **generate new access key** and tick the right boxes.

The screenshot comes from the bottom of the application page by the way.

[2018-07-20 13:08] paultanner commented on #92
Ok Thx @johanstokking
So the issue was that I did not know that another access key could be needed.  I think the error message could be better:

[code]
.. could instead say:
[code]

[2018-09-04 10:51] chrisvoo opened #94 "Security issue with hoek"
Hi,
I'm running the command `npm audit` to update all the libraries I can.
In my project, I use for example the `ttn` module, which has the following dependencies:

    ├─┬ ttn@2.3.1
    │ ├─┬ jsonwebtoken@7.4.3
    │ │ ├─┬ joi@6.10.1
    │ │ │ ├── hoek@2.16.3
    │ │ │ ├── isemail@1.2.0
    │ │ │ ├── moment@2.22.2 deduped
    │ │ │ └─┬ topo@1.1.0
    │ │ │   └── hoek@2.16.3 deduped
    │ │ ├─┬ jw

[2018-09-04 11:20] johanstokking commented on #94
Thanks @chrisvoo for reporting. Can you provide a PR?

[2018-09-04 12:30] chrisvoo commented on #94
Sure, I'll try to spare some time for this.

[2018-09-05 16:23] chrisvoo commented on #94
Sorry for the question, how should I create the PR? I see that I get a 403 if I push my branch there

[2018-09-06 12:49] johanstokking commented on #94
Great, please see https://help.github.com/articles/creating-a-pull-request/

[2018-09-06 13:21] chrisvoo commented on #94
Done, thank you!

[2018-10-29 06:08] parkmeta opened #97 "How do I use the DataClient correctly?"
Hello.

I had a trouble because i create new DataClient instance each time I send downlink. From the sdk code, I noticed that every time I create a DataClient I get a new MQTT connection.

How do I use the DataClient correctly?
Should I manually manage the DataClient instance pool?

Also, I think it's a good idea to add a callback as the last parameter to the DataClient.send() function.
This callb

[2018-11-03 21:43] johanstokking commented on #97
Yes.

This callback will be passed as last parameter to this.mqtt.publish() to receive 'MQTT publish' result.

That could be useful indeed. Can you create a PR?

[2018-11-05 01:05] parkmeta commented on #97
Okay, I will do as soon as possible.

[2018-11-06 07:59] parkmeta commented on #97
Hi, Thank you for previous answer.

I have more questions.

1. Can I close(release) AppClient and DataClient? Or don't i need to close the clients?

2. After i get some TTN clients(AppClient and DataClient), i see below error message for a period of time. Is there a limit on the number of times I can connect to the Discovery server? Also, Is there a recommended time gap between connect and after c

[2018-11-09 07:30] johanstokking commented on #97
You can close them, that probably releases underlying resources, which is a good idea for you and for us.

We have API throttling indeed. For normal use, this shouldn't become a problem. How many requests are you firing?

[2018-11-09 08:08] parkmeta commented on #97
I create new client 5 times in 10 minutes, about 7 days
I will try to manage client pool.

[2018-12-06 18:45] rgrygiel opened #98 "How to set fixed port on connection between node app and ttn server?"
Hello!
i'm trying to forward port on my firewall where the node js is running behind. Port seems to be always different (based on netstat info) and sdk can't connect to the TTN server. Funny thing is that if i run this locally on my laptop (using cellural internet connection app is working as expected - that's why i'm excluding code issue).

App is running on node instance on Centos 7. I'll add th

[2018-12-06 19:45] johanstokking commented on #98
@rawian which port are you referring to exactly? If you mean the source port, yes, that is always different. But for a firewall you need the destination port, which is fixed.

[2018-12-07 12:26] rgrygiel commented on #98
@johanstokking thanks for Your answer! My issue is that i don’t know which port should be forwarded on my firewall to make this simple node app work. I’ve tried poeta: 80,443,1900 & 1884 but nothing seems to help. As above when I’ll go „outside” the firewall it’s working

[2018-12-08 07:10] johanstokking commented on #98
Which node app?

[2018-12-08 10:45] rgrygiel commented on #98
@johanstokking I've created simple API based on express for node (my simple app) and it's accessible when i'll forward specified port in the code, but sdk itself can't connect to TTN.

Let's consider example code below;

[code]

where the appPort is let's say 14123. If i'll forward port 14123 on my firewall express server is achievable, but i can't see the `console.log("Routes included");` which w

[2018-12-09 03:23] johanstokking commented on #98
Hmm. Do you see anything else in the logs?

[2018-12-09 11:59] rgrygiel commented on #98
Not at all. Only first console.log entry shows that „App launched on port: ...”. When i’ll check netstat connection status i got FIN-WAIT

[2018-12-10 07:51] johanstokking commented on #98
OK. For debugging I think it's best to dissect the webserver from the TTN connection. Can you try the example code in this repository and see if that works?

[2018-12-10 21:07] rgrygiel commented on #98
So i've used es5 example like below:

[code]

and i can see none of two console.log("Step...");

[2018-12-11 07:43] johanstokking commented on #98
Do you have an outgoing firewall blocking port 1900?

[2018-12-11 14:45] rgrygiel commented on #98
Nope. The one and only is TTN sdk tring to connect to the TTN network. See the netstat output below

[code]

[2018-12-11 21:43] rgrygiel commented on #98
I've also disabled firewall-cmd at all to avoid any kind of issues. And still nothing. Quite interesting, isn't it?

[2018-12-12 01:27] johanstokking commented on #98
I tested this, and for me it works fine;

Simply installed dependency with `yarn add ttn`; current version is `2.3.1`.

[code]

Output:

[code]

I still suspect your provider's firewall for blocking 1900.

[2018-12-12 10:27] rgrygiel commented on #98
What is Your working station?
I've just discovered that on port 1900 can be also SSDP running. What i'm reading it can't be disabled on linux machine just like on windows, but can be only blocked by firewall which leads to making circles in my case... any ideas or experience in this case?

[2018-12-13 10:39] johanstokking commented on #98
Port 1900 is used for the outgoing connection so that shouldn't matter.

My environment is macOS Mojave 10.14, node 10.11, yarn 1.10.1, npm 6.4.1, but that shouldn't be related.

[2019-02-20 12:43] hsjakobsen commented on #94
Any update on this? It's not fixed as of version 2.3.1
I use NPM to update my ttn sdk

[2019-02-20 15:01] johanstokking commented on #94
Looks like we never published this to npm. This repository is craving for CD...

Should be good now.

[2019-02-20 15:01] #94 closed, assigned to johanstokking

[2019-07-04 15:41] sbrl opened #99 "SyntaxError: The requested module 'ttn' does not provide an export named 'data'"
Currently if I use this package with Node.js, I get the following error:

[code]

I'm executing my program like this: `node --experimental-modules ./server/index.mjs`

....I think there's a packaging error. Inspecting `index.js` reveals that it's using some custom `exports` variable, and not an ES6 `export { example_function };` statement as it should be, or even a legacy `module.exports = { /* ..

[2019-07-05 06:13] johanstokking commented on #99
Thanks for reporting.

You mean [this is wrong](https://github.com/TheThingsNetwork/node-app-sdk/blob/master/src/index.js#L48)?

[2019-07-05 19:48] sbrl commented on #99
Huh, that looks completely different to what I'm seeing in the package I've installed from npm, @johanstokking! Here's what I'm seeing: [index.js.log](https://github.com/TheThingsNetwork/node-app-sdk/files/3363833/index.js.log) (renamed to .log so that GitHub accepts it)

Specifically, this:

[code]

[2019-07-08 09:30] johanstokking commented on #99
Hmm 🤔 the published version may be transpiled weirdly.

What if you clone this repo and reference locally?

If you have ideas to fix this, that would be very much welcomed.

[2019-07-09 20:10] sbrl commented on #99
@johanstokking After cloning it to a subfolder inside `node_modules` and running the following test program:

[code]

....I get this error:

[code]

For reference, I'm attempting to import [src/index.js](https://github.com/TheThingsNetwork/node-app-sdk/blob/master/src/index.js).

If I change the above test script to import the default export instead, I get this error:

[code]

....I'm confused.

[2019-07-27 15:56] Minyanaing commented on #99
Instead of "import", use const and require.
` const { data, application }    = require('ttn');`

[2019-07-28 10:17] sbrl commented on #99
In theory that would work around the issue @Minyanaing, the but specific problem here is that it doesn't work _with es6 modules_ - i.e. the `import` `export` syntax.

[2019-08-06 15:16] johanstokking commented on #99
@Minyanaing @sbrl can you make a PR?

[2019-08-07 10:41] sbrl commented on #99
@johanstokking I would investigate doing so, but [read this](https://github.com/nodejs/modules/blob/master/doc/announcement.md#es-module-code-in-packages). It's an announcement about es6 modules on npm.

[2020-10-21 07:18] #80 closed, assigned to romeovs

[2020-10-21 07:18] #83 closed, assigned to nobody

[2020-10-21 07:18] #85 closed, assigned to nobody

[2020-10-21 07:18] #87 closed, assigned to johanstokking

[2020-10-21 07:18] #97 closed, assigned to nobody

[2020-10-21 07:18] #98 closed, assigned to nobody

[2020-10-21 07:18] #99 closed, assigned to nobody